<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Football</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Football.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-ico" href="~/favicon.ico" />
    @using System;
    @using System.IO;
    @using SharedCode
</head>

<body style="background-color: #5c0c15;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3"
            style="background-color: #5c0c15; border-color: black;">
            <div class="container">
                <div class="d-flex justify-content-start align-items-center w-100">
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item me-3">
                            <a class="nav-link" style="color: white; margin-left: 3%;" asp-area="" asp-page="/Index"
                                asp-route-p="0">
                                <b>Начало</b>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-page="/Ranking"
                                asp-route-p="@SharedFunctions.GetCurrentPhase()">
                                <b>Голмайстори</b>
                            </a>
                        </li>
                    </ul>
                    <img class="ms-auto" style="width:38px; height:35px; margin-right: 3%;"
                        src="https://i.imgur.com/plnQREc.png" alt="Logo">

                    <img src="/index_banner.png" alt="Soccer Fans Celebrating" class="banner">
                </div>
            </div>
        </nav>
    </header>

    @{

        var viewPath = ViewContext.View.Path;
        var viewName = viewPath.Substring(viewPath.LastIndexOf("/") + 1);
        var pageName = "/" + System.IO.Path.GetFileNameWithoutExtension(viewName);

        var currentPage = Context.Request.Path.Value?.ToLower() ?? string.Empty;
        var hideButtonPage = "/opentournament";

        int selectedPhase;

        if(currentPage == "/" || currentPage == "/index/"){
            selectedPhase = SharedFunctions.GetSelectedPhase(@Context.Request, 0);
        }
        else{
            selectedPhase = SharedFunctions.GetSelectedPhase(@Context.Request, SharedFunctions.GetCurrentPhase());
        }
    }

    <script>
        const dropdownButton = document.getElementById("phaseButton");
        const dropdownContent = document.getElementById("dropdownContent");

        dropdownButton.addEventListener("click", (event) => {
            event.stopPropagation();

            dropdownContent.classList.toggle("show");
        });

        document.addEventListener("click", (event) => {
            if (!dropdownButton.contains(event.target) && !dropdownContent.contains(event.target)) {
                dropdownContent.classList.remove("show");
            }
        });
    </script>

    @if (!currentPage.Contains(hideButtonPage.ToLower()))
    {
        <div class="dropdown">
            @if(selectedPhase != 0){
                <button id="phaseButton" class="dropbtn">Фаза @selectedPhase <span class="dropdown-icon">▼</span></button>
            }
            else{
                <button id="phaseButton" class="dropbtn">Обща <span class="dropdown-icon">▼</span></button>
            }
            
            <div id="dropdownContent" class="dropdown-content">

                @if(currentPage == "/" || currentPage == "/index/"){
                    <a style="color: white" href="#" onclick="changePhase(@(0), '@pageName')">Обща</a>
                }

                @for (int i = 0; i < SharedFunctions.GetCurrentPhase(); i++)
                {
                    <a style="color: white" href="#" onclick="changePhase(@(i + 1), '@pageName')">Фаза @(i + 1)</a>
                }
            </div>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #5c0c15; border: black">
        <div class="container" style="color: rgb(198, 198, 198);">
            &copy; 2024 - Emil Dimov | TUES
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

<div class="error-message">
    <p>Възникнал е проблем. Ще бъде поправен до 5 минути :)</p>
</div>

</html>