<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Football</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Football.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-ico" href="~/favicon.ico" />
    @using System;
    @using System.IO;
    @using SharedCode
</head>
<body style="background-color: #4682b4;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #5c0c15; border: black">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-page="/Index" asp-route-selectedPhase="@SharedFunctions.GetCurrentPhase()"><b>Начало</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-page="/Ranking" asp-route-selectedPhase="@SharedFunctions.GetCurrentPhase()"><b>Голмайстори</b></a>
                        </li>
                    </ul>
                    <img style="width:5.5vh; height:5vh; margin-right: 3%;" src="https://i.imgur.com/vgSIemK.png">
                </div>
            </div>
        </nav>
    </header>

    @{
        int selectedPhase = 0;

        var viewPath = ViewContext.View.Path; // Example: "/Views/Home/Index.cshtml"
        var viewName = viewPath.Substring(viewPath.LastIndexOf("/") + 1); // Extract "Home/Index.cshtml"
        var pageName = "/" + System.IO.Path.GetFileNameWithoutExtension(viewName); // Extract "/Index"

        if (@Context.Request.Query["selectedPhase"].Count > 0)
        {
            int.TryParse(@Context.Request.Query["selectedPhase"], out selectedPhase);
        }
        else
        {
            selectedPhase = @SharedFunctions.GetCurrentPhase();
        }
    }

    <div class="dropdown" style="margin-top:-20%;">
        <button id="phaseButton" class="dropbtn">Phase @selectedPhase</button>
        <div class="dropdown-content">
            @for (int i = 0; i < SharedFunctions.GetCurrentPhase(); i++)
            {
            <a href="#" onclick="changePhase(@(i), '@pageName')">Phase @(i + 1)</a>
            }
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #5c0c15; border: black">
        <div class="container" style="color: rgb(198, 198, 198);">
            &copy; 2024 - TUES
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>