@page
@{
    ViewData["Title"] = "Голмайстори";
}

@using System.IO;

<style>
table, th, td {
  color: white;
  height: 40px;
}
table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 4%;
}

th {
  height: 70px;
}

th, td {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: 0.5rem;
}

table tr td:first-child, 
table tr th:first-child {
  border-left: 2px solid white;
}

table tr th {
  border-top: 2px solid white;
}

table tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

table tbody tr:hover td {
  background-color: rgb(132, 97, 97)
}

tr:nth-child(odd) {
  background-color: #5c0c15;
}

tr:nth-child(even) {
  background-color: #5b252b;
}

</style>

@{
    
    StreamReader sr = new StreamReader("C:\\Code\\Football\\Database\\league_matches.txt");
        String line;

        List<List<string>> matchData = new List<List<string>>();

        while ((line = sr.ReadLine()) != null)
        {
            string[] tarr = line.Split(";");

            for (int i = 0; i < tarr.Length; i += 7)
            {
                List<string> sublist = new List<string>();

                for (int j = 0; j < 7 && i + j < tarr.Length; j++)
                {
                    sublist.Add(tarr[i + j]);
                }

                matchData.Add(sublist);
            }
        }

        sr.Close();
}

<p style="border-radius: 40%; background-color: #5c0c15; position: absolute; width: 20%; font-size: 2.8vw; color: white; text-align: center; margin-top: -3.5%; left: 50%; transform: translate(-50%, -50%);"><b>МАЧОВЕ</b></p>

<table>
    <thead>
        <tr>
            <th>Мач</th>
            <th>Резултат</th>
            <th>Дата</th>
            <th>Час</th>
            <th>Терен</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < matchData.Count(); i++){

            <tr>

                <td>
                    @matchData[i][1] - @matchData[i][3]
                </td>
                <td>
                    @matchData[i][2]
                </td>
                <td>
                    @matchData[i][4]
                </td>
                <td>
                    @matchData[i][5]
                </td>
                
                    @{
                      if(matchData[i][6] == "0"){
                        <td>Мир и Дружба</td>
                      }
                      else{
                        <td>Олемаспорт</td>
                      }
                    }

            </tr>

        }
    </tbody>
</table>
