@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using System;
@using System.IO;
@using SharedCode;

@{

    int selectedPhase = SharedFunctions.GetSelectedPhase(Request, 0);

    List<List<string>> content = SharedFunctions.ReadFile(selectedPhase, "table.txt");

    if (selectedPhase == 0)
    {
        selectedPhase = SharedFunctions.GetCurrentPhase();
    }

    List<string> GetPlacingRow(int phase, string teamName)
    {

        List<string> row = new List<string>();

        using (StreamReader sr = new StreamReader(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Database",
        phase + "placing.txt")))
        {
            string? line;
            while ((line = sr.ReadLine()) != null)
            {
                string[] tarr = line.Split(";");

                if(tarr[0] == teamName){

                    for (int i = 0; i < tarr.Length; i++)
                    {
                        row.Add(tarr[i]);
                    }

                    return row;
                }
            }
        }

        return row;

    }

}

<body>

    <button type="button" class="view-all-button" onclick="location.href='/Tournaments?p=@selectedPhase'"><u>Всички
            турнири</u>&rarr;</button>

    <table class="index-table">
        <thead>
            <tr>
                <th>№</th>
                <th>Отб</th>
                <th>М</th>
                <th>П</th>
                <th>З</th>
                <th>Р</th>
                <th>ОГ</th>
                <th>ДГ</th>
                <th>Раз</th>
                <th>T</th>
                <th>Коеф</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < content.Count(); i++)
            {
                <tr>
                    <td>@(i + 1)</td>

                    <td class="popup-container">
                        <a href="#" class="hover-anchor"><u>@content[i][0]</u></a>
                        <div class="popup-window">
                            @for (int j = 1; j <= SharedFunctions.GetCurrentPhase(); j++)
                            {
                                List<string> row = GetPlacingRow(j, content[i][0]);

                                <p style="margin-left: 5px; font-size: 15px; background-color: #5c0c15; width: fit-content; padding-left: 10px; padding-right: 10px; border-radius: 10px; color: white; border: 2px solid white;">Фаза @j</p>

                                <table class="popup-table">
                                    <thead>
                                        <tr>
                                            @for (int a = 1; a < row.Count; a++)
                                            {
                                                <th>@a</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @for (int b = 1; b < row.Count; b++)
                                            {
                                                <td>@row[b]</td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </td>

                    @for (int j = 1; j < content[i].Count(); j++)
                    {
                        <td>
                            @content[i][j]
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</body>
