@page
@{
    ViewData["Title"] = "Голмайстори";
}

@using System.IO;

<style>
table, th, td {
  color: white;
  height: 40px;
}
table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 2%;
}

th {
  height: 70px;
}

th, td {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: 0.5rem;
}

table tr td:first-child, 
table tr th:first-child {
  border-left: 2px solid white;
}

table tr th {
  border-top: 2px solid white;
}

table tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

table tbody tr:hover td {
  background-color: rgb(132, 97, 97)
}

tr:nth-child(odd) {
  background-color: #5c0c15;
}

tr:nth-child(even) {
  background-color: #5b252b;
}

</style>

<p style="border-radius: 40%; background-color: #5c0c15; position: absolute; width: 15%; font-size: 2.8vw; color: white; text-align: center; margin-top: -1.8%; left: 50%; transform: translate(-50%, -50%); margin-bottom: 5%;"><b>ЛИГА</b></p>

@{
    
    var filePath1 = System.IO.Path.Combine(AppContext.BaseDirectory, "Database", "league_teams.txt");

    StreamReader sr = new StreamReader(filePath1);
        String line;

        List<List<string>> teamsData = new List<List<string>>();

        while ((line = sr.ReadLine()) != null)
        {
            string[] tarr = line.Split(";");

            for (int i = 0; i < tarr.Length; i += 5)
            {

                List<string> sublist = new List<string>();

                for (int j = 0; j < 5 && i + j < tarr.Length; j++)
                {
                    sublist.Add(tarr[i + j]);
                }

                teamsData.Add(sublist);
            }
        }

        sr.Close();

        teamsData = teamsData.OrderByDescending(p => p[4]).ToList();

        List<List<string>> leagueMatches = new List<List<string>>();

        var filePath2 = System.IO.Path.Combine(AppContext.BaseDirectory, "Database", "league_matches.txt");

        sr = new StreamReader(filePath2);

        while ((line = sr.ReadLine()) != null)
        {
            string[] tarr = line.Split(";");

            for (int i = 0; i < tarr.Length; i += 7)
            {

                List<string> sublist = new List<string>();

                for (int j = 0; j < 7 && i + j < tarr.Length; j++)
                {
                    sublist.Add(tarr[i + j]);
                }

                leagueMatches.Add(sublist);
            }
        }

        int displayed_counter = 0;

        for(int i = 0; i < leagueMatches.Count() && displayed_counter < 6; i++){

            if(leagueMatches[i][0] == "0"){continue;}

            displayed_counter++;

            <div style="background-color: black; border-radius: 10px; margin-left: 3vh; padding: 2vh; border-color: white; color: white; border-style: groove; display: inline-block; text-align: center; text-shadow: 0 0 3px black, 0 0 5px black; margin-bottom: 2%; margin-top: 4%;"><b>@leagueMatches[i][1] - @leagueMatches[i][3]<br>@leagueMatches[i][4]<br>@leagueMatches[i][5]</b></div>

        }

        sr.Close();
}

        
        <button type="button" style="background-color: black; border-radius: 10px; margin-left: 3vh; padding: 2vh; border-color: white; color: white; border-style: groove; display: inline-block; text-align: center; text-shadow: 0 0 3px black, 0 0 5px black;" onclick="location.href='/All_League_Matches'"><b><u>Всички<br>мачове</u><br>&rarr;</b></button>

<table>
    <thead>
        <tr>
            <th>Отбор</th>
            <th>Изиграни</th>
            <th>Вкарани</th>
            <th>Допуснати</th>
            <th>Точки</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < teamsData.Count(); i++){

            <tr>

                @for(int j = 0; j < teamsData[i].Count(); j++){

                    <td>
                        @teamsData[i][j]
                    </td>

                }

            </tr>

        }
    </tbody>
</table>
