@page
@{
  ViewData["Title"] = "Турнир";
}

@using System.IO
@using Microsoft.AspNetCore.Hosting

@using SharedCode

@{

  int selectedRow = SharedFunctions.GetSelectedRow(Request);

  int selectedPhase = SharedFunctions.GetSelectedPhase(Request, SharedFunctions.GetCurrentPhase());

  string currentTournamentNumber = "";

  string? tLine = null;

  using (StreamReader sr = new StreamReader(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Database",
  @selectedPhase +
  "tournaments.txt")))
  {
    for (int currentLine = 1; currentLine <= selectedRow; currentLine++)
    {
      tLine = sr.ReadLine();

      if (tLine == null)
      {
        Console.WriteLine("The file does not have enough lines.");
        break;
      }
    }
  }
  string[] sLine = tLine.Split(";");

  List<List<string>> tournaments = SharedFunctions.ReadFile(selectedPhase, "matches.txt").GetRange(int.Parse(sLine[1]) -
  1, int.Parse(sLine[2]) - int.Parse(sLine[1]) + 1);
  currentTournamentNumber = sLine[0];

  int matchType = -1;
  string matchTypeName = "Групи";
}

<body>
  <h2 class="table-label">Турнир @currentTournamentNumber<br>Фаза @selectedPhase</h2>

  <table>
    <thead>
      <tr>
        <th>№</th>
        <th>Отбор 1</th>
        <th>Резултат</th>
        <th>Отбор 2</th>
      </tr>
    </thead>
    <tbody>

      @for (int i = 0; i < tournaments.Count() && tournaments[i][0] != "0"; i++)
      {

        if (int.Parse(tournaments[i][5]) != matchType)
        {

          switch (int.Parse(tournaments[i][5]))
          {
            case 0:
              matchTypeName = "Групи";
              matchType = 0;
              break;
            case 1:
              matchTypeName = "Четвърт финали";
              matchType = 1;
              break;
            case 2:
              matchTypeName = "Полу финали";
              matchType = 2;
              break;
            case 3:
              matchTypeName = "3-то място";
              matchType = 3;
              break;
            case 4:
              matchTypeName = "Финал";
              matchType = 4;
              break;
          }

          <tr>
            <td colspan="4" style="background-color:#3C4142;">@matchTypeName</td>
          </tr>
        }

        <tr>

          <td>@tournaments[i][0]</td>
          <td>@tournaments[i][1]</td>
          <td>@tournaments[i][2] - @tournaments[i][3]</td>
          <td>@tournaments[i][4]</td>

        </tr>

      }
    </tbody>
  </table>

  </tbody>
  </table>
</body>
